body{
	background-color:#C3CCF7;	

}
#icono{
	position: relative;
	margin:auto;
	width: 50px;
	top:-11px;	
	border: 1px black solid;
}
#menu{
	margin:auto;
	width: 90%;
	position:relative;
	top:10px;
	
}
#navibar{
	padding:1%;
	
	border-color:blue;
}
.navoption{
	font-size:145%;
	font-weight:bolder;
	
	
}
#logo{
	width:90%;
}
