.imgc{
	width: 300px;
	height: 150px;
	margin:0px auto;
}
.imgd{
	width: 600px;
	height: 150px;
	margin:0px auto;
}
body{
	background-color: #CC6C2E;
}
.captions{
	font-weight:bolder;
	font-size: 15px;
}
#brand{
	font-weight:bolder;
	color: brown;
}
.navops{
	color:black;
	font-weight:bold;
	font-family:cursive;
}
