
body{
	background-color:#9ED7DE;
}
#mediform{
	background-color: #FF741D;
	width: 500px;
	padding: 20px;
	padding-top: 0px;
	border: 5px #BC5718 solid;
	border-radius: 15px;
}
#Head{
	position:relative;
	top:25px;
	right:300px;
	margin: 0px 0px;
	margin-bottom:80px;
	
	
}

#tituloform{
	text-align:center;
	font-family:Verdana;
	font-weight:bolder;
	font-size:30px
}
#subtituloform{
	font-size:25px;
	font-family:Verdana;
	font-weight:bold;
}

.subform{
	text-decoration:none;
	color:white;
	
}
#takutaku{
	width:600px;
	height:375px;
	border-radius:20px;
	z-index:-1;
}
#Countdown{
	position:relative;
	bottom:180px;
	color:white;
	margin:0px 50px;
	
}
#Countdown h1{
	margin-left:20px;
	color:white;
}
#footer{
	background-color:#F9A43B;
	border:5px #DF881F solid;
	border-radius: 10px;
	font-weight: bold;
	text-align:center;
	padding: 10px;
	position:relative;
	top:15px;
	left:50px;
	width:600px;
}
